.footer{
  font-family: Bebas Neue, Oswald, 'Times New Roman';
  background-color: rgb(165, 49, 49);
  color: rgb(255, 247, 237);
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 10px 50px;
  align-items: center;
}
.footer-socials{
  padding-left: 350px;
}
@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr; 
    padding: 10px; 
    text-align: center; 
  }
  .footer-socials {
    padding-left: 0; 
    margin-top: 20px;
  }
}
